body{
	background: rgb(100,100,100);
	font-family: Arial;
	font-size: 16px;	
	border-color: rgb(255,255,255);
}

header{	
	background: rgba(220,225,225,1);
	color: white;
	overflow: hidden;
	padding: 1em;
	width: 100%;
	height: 100%;
}

header h1{
	font-size: 2.6em;
	font-weight: normal;
	margin: 0 0 0 0.5em;
	float: left;
	color: rgb(0,0,0);
	position: relative;
	padding-top: 20px;	
	font-family: 'Montserrat', sans-serif;
}

header #logo img{
	width: 50px;
	height: 50px;
	border-radius: 80px;
	float: left;
	position: relative;
	padding-top: 20px;		
}

nav{
	background: rgba(200,210,220,.8);
	text-align: center;
	padding: 1em;
	height: 30px;
	padding-top: 40px;
}

nav li{
	display: inline;
	margin: 0 1em;
	color: rgb(0,0,0);
}

nav li a{
	color: rgb(0,0,0);
	text-transform: uppercase;
	text-decoration: none; /* */
}

section{
	font-size: 0;
	background: rgba(200,210,220,.8);
}

.item {
	width: 49%;
	margin: 0.5%;
	background: rgba(68, 98, 129, 0.1);
	display: inline-block;
	overflow: hidden;
	font-size: 1rem;
}

.figure_item{
	float: left;
}

.title_item, .data_item{
	color: rgb(0,0,0);
	text-decoration: none;
}

.title_item a{
	text-decoration: none;
	font-family: 'Indie Flower', cursive;
	text-align: right;
	color: rgb(0,0,0);
}

.figure_item img{
	width: 213px;
}

footer{
	background: #bdb9a1;
	border: 1px solid red;
	text-align: center;
	padding: 1em;
}

footer p{
	margin: 0.5em 0;
}

